Source: dnstable-convert
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Section: utils
Priority: optional
Standards-Version: 3.9.5
Build-Depends:
 asciidoc,
 debhelper (>= 9~),
 dh-autoreconf (>= 5~),
 dpkg-dev (>= 1.16.0~),
 libdnstable-dev,
 libmtbl-dev (>= 1.1.0),
 libnmsg-dev (>= 0.9.0),
 libwdns-dev (>= 0.6.0),
 nmsg-msg-module-sie-dev (>= 0.17.0-2),
 pkg-config,
 xmlto,

Package: dnstable-convert
Architecture: any
Depends: nmsg-msg-module-sie, ${misc:Depends}, ${shlibs:Depends}
Replaces: dnstable-bin (<< 0.9.1-3)
Breaks: dnstable-bin (<< 0.9.1-3)
Description: Utility to convert passive DNS data from NMSG format to MTBL format.
